@using DesiShop.ManagementClasses;
@using System.Data;
@{
    var banners = database.GetDataTable("select Title,Description, Picture, link from Banners where Status=1");
    ViewData["Title"] = "Home Page";
}

<style>
    .custom-slider-img{
        height: 500px !important;
    }
</style>

<div class="hero slider-dot-fix slider-dot slider-dot-fix slider-dot--center slider-dot-size--medium slider-dot-circle  slider-dot-style--fill slider-dot-style--fill-white-active-green dot-gap__X--10">
   @foreach (DataRow banner in banners.Rows) { 
    
    <div class="hero-slider">
        <img src="@banner["Picture"]" alt="@banner["Title"]" class="custom-slider-img">
        <div class="hero__content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="hero__content--inner">
                                <h1 class="title__hero title__hero--xlarge font--regular text-uppercase">@banner["Title"]</h1>
                                <h4 class="title__hero title__hero--small font--regular">@banner["Description"]</h4>
                                <a href="@banner["link"]" class="btn btn--large btn--radius btn--black btn--black-hover-green font--bold text-uppercase">Click here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div> 
    }
</div>
    <div class="product m-t-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Title -->
                    <div class="section-content section-content--border m-b-35">
                        <h5 class="section-content__title">Top categories</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product__catagory">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ::::::  End  Product Style - Catagory Section  ::::::  -->
    <!-- ::::::  Start  Product Style - Default Section  ::::::  -->
    <div class="product m-t-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Title -->
                    <div class="section-content section-content--border m-b-35">
                        <h5 class="section-content__title">Featured Products</h5>
                        <ul class="tablist tablist--style-blue tablist--style-gap-20 nav">
                        </ul>
                    </div>  <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-content tab-animate-zoom">
                        <!-- Start Single Tab Item -->
                        <div class="tab-pane show active" id="fruits">
                            <div class="default-slider default-slider--hover-bg-red product-default-slider">
                                <div class="product-default-slider-4grid-2rows gap__col--30 gap__row--40 row" id="featuredProduct"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="product m-t-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Title -->
                    <div class="section-content section-content--border m-b-35">
                        <h5 class="section-content__title">New Products</h5>
                        <a href="/Home/Shop" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">More Products<i class="fal fa-angle-right"></i></a>
                    </div>  <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="default-slider default-slider--hover-bg-red product-default-slider">
                        <div class="product-default-slider-4grid-1rows gap__col--30 gap__row--40 row" id="newProducts">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="blog m-t-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start Section Title -->
                    <div class="section-content section-content--border m-b-35">
                        <h5 class="section-content__title">Our Latest News</h5>
                        <a href="/Home/Blog" class="btn btn--icon-left btn--small btn--radius btn--transparent btn--border-green btn--border-green-hover-green font--regular text-capitalize">More blogs <i class="fal fa-angle-right"></i></a>
                    </div>  <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                    <div class="default-slider default-slider--hover-bg-red">
                        <div class="blog-feed-slider-3grid default-slider gap__col--30" id="latestNews"></div>
                    </div>
            </div>
        </div>
    </div>
<script  src="/js/Home/home.js"></script>